[submodule "exams"]
	path = exams
	url = https://github.com/Binaretech/Classroom-Exam-Service.git
[submodule "web"]
	path = web
	url = https://github.com/Binaretech/classroom-web
[submodule "auth"]
	path = auth
	url = git@github.com:Binaretech/classroom-auth.git
[submodule "main"]
	path = main
	url = git@github.com:Binaretech/classroom-main.git
